opencv-python==4.5.5.64 
debugpy==1.6.3 
matplotlib==3.6.0 
minio==7.1.12 
natsort==8.2.0 
path==16.5.0 
torch 
torchvision 
tensorboard==2.10.0 
tensorboardX==2.5.1 
torch_tb_profiler==0.4.0 
scikit-image==0.19.3 
wget==3.2 
onnx 
ptflops==0.6.9 
fvcore 
pymlutil==0.1.12  
torchdatasetutil==0.1.30
torchelastic==0.2.2